
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
   background: transparent;
   border: none;
   cursor: pointer;
   color: var(--text-color-white);
   font-family: var(--font);
   font-size: 18px;
}

 .footer {
    width: 100%;
    height: 48px;
    background-color: var(--text-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
 }

 .seccion-pdf {
    padding: 48px 0;
    background-color: var(--background-color-dark);
 }

 .pdf-canvas{
    height: 100vh; 
}

 .pdf-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .pdf-controles-pagina {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .pdf-controles-pagina > button,
 .header-volver,
 .pdf-controles-zoom button,
 .header-modo {
    background-color: var(--first-light-color);
    width: 40px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-black);
    transition: background 0.3s;
    margin: 0 3rem;
 }

 .pdf-controles-pagina > button:hover,
 .header-volver:hover,
 .pdf-control-numero  > button:hover,
 .pdf-controles-zoom button:hover,
 .header-modo:hover {
    background-color: var(--first-dark-color);
 }

 .pdf-controles-pagina > svg{
    fill: var(--text-color-black);
 }

 .pdf-control-numero {
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
 }


 .pdf-control-numero input {
    width: 64px;
    border: none;
    padding: 0;
    font-family: var(--font);
    font-size: 1.2rem;
    background-color: transparent;
    transition: background 0.3s;
    color: var(--text-color-black);
    text-align: start;
    padding-left: 1rem;
 }

 .pdf-control-numero input:focus,
 .pdf-control-numero input:hover {
    outline: none;
    background-color: var(--background-input);
 }



 .pdf-control-numero  button {
    background-color: var(--first-light-color);
    border-radius: 8px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: background 0.3s;
    color: var(--text-color-black);
 }

 .pdf-controles-zoom {
    display: flex;
 }

 .pdf-controles-zoom input{
    width: 80px;
    border: none;
    padding: 0;
    font-family: var(--font);
    font-size: 1.2rem;
    background-color: var(--background-color);
    transition: background 0.3s;
    color: var(--text-color-black);
    text-align: center;
    border-radius: 8px;
 }

 .pdf-controles-zoom button{
    margin: 0 1rem;
 }


 @media screen and (max-width: 768px) {
    .seccion-pdf {
        height: 100vh;
       
    }

    .pdf-controles-zoom {
        display: none;
     }

    .pdf-canvas{
        width: 100vw;
        height: auto;  
    }

    .pdf-contenedor {
        flex-direction: column;
        padding-bottom: 3rem;
     }
 }