

.seccion-inicio {
    width: 100%;
}

.inicio-contenido{
    width: 100%;
    display: flex;
    gap: 2rem 1rem;
    justify-content: start;
    flex-wrap: wrap;
}

.inicio-contenido-titulo {
    display: block;
    margin: 1rem 1rem 0 1rem;
    width: 100%;
}


@media screen and (max-width: 768px) {
    body {
        overflow: auto;
    }

    .main {
        padding: 4rem 1rem 1rem 4rem;
    }
    .seccion-inicio {
        width: 100%;
    }

}

@media screen and (max-width: 512px) {
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .main {
        padding:0;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }

    .seccion-inicio-titulo{
        font-size: 28px;
    }

}
