
.main{
    padding: 64px 128px 0 128px;
    min-height: 100vh;
}

@media screen and (max-width: 512px) {
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .main {
        padding:0;
        padding-top: 4rem;
    }

}