
.main{
    padding: 64px 0 64px 128px;
    min-height: 100vh;
}

/* SECCION DATOS DE PERFIL */

.seccion-perfil {
    padding: 1rem;
}

.perfil-detalle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    justify-items: start;
}

.perfil-datos,
.perfil-suscripcion,
.perfil-comprobante,
.perfil-configuracion {
    margin: 1rem;
    width: 70%;
}

.perfil-suscripcion{
    grid-column: 2/3;
    grid-row: 1/3;
}

.perfil-configuracion{
    grid-column: 1/2;
    grid-row: 2/3;
}

.perfil-datos-contenedor,
.perfil-suscripcion-contenedor,
.perfil-comprobante-contenedor,
.perfil-configuracion-contenedor {
    background-color: var(--first-light-color);
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem 0;

}

.perfil-datos-contenedor div {
    display: flex;
    gap: 2rem;
}

.perfil-datos-contenedor div p{
    font-size: 20px;
    margin: 0.5rem 0;
}

.perfil-suscripcion-contenedor div{
    display: flex;
    gap: 0 2rem;
    justify-content: space-between;
}

.perfil-suscripcion-contenedor a,
.perfil-comprobante-contenedor a,
.perfil-configuracion-contenedor a{
    display: block;
    margin: 1rem 0;
    font-size: 18px;
}


/* SECCION FORMULARIO DE CONTACTO*/

.seccion-contacto {
    padding: 1rem;
    position: relative;
}

.seccion-contacto-volver {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.seccion-contacto-volver button{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--text-color-black);
    font-size: 18px;
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border 0.3s;
}

.seccion-contacto-volver button:hover{
    border-bottom: 2px solid var(--text-color-black);
}

.seccion-contacto-volver button svg{
    margin-right: 1rem;
    fill: var(--text-color-black);
}

.contacto-contenido{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-form {
    width: 600px;
    background-color: var(--text-color-black);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-color-white);
    padding: 1rem;
}

.contacto-form-titulo {
    width: 100%;
}


.contacto-form-input label{
   display: block;
   margin-bottom: 0.3rem;
   font-size: 16px;
}

.contacto-form-input input,
.contacto-form-input textarea {
   width: 100%;
   height: 2rem;
   border-radius: 8px;
   border: none;
   font-size: 18px;
   font-family: var(--font);
   font-weight: 400;
   padding-left: 0.5rem;
   transition: opacity 0.3s;
   box-shadow: var(--box-shadow);
   opacity: 0.6;
   margin-bottom: 1rem;
}

.contacto-form-input input:hover,
.contacto-form-input textarea:hover{
   opacity: 0.9;
}

.contacto-form-input input:focus,
.contacto-form-input textarea:focus{
   opacity: 1;
   outline: none;
}

.contacto-form-input:nth-child(3)  textarea{
    height: 160px;
    
   resize: none;
}

.contacto-form-boton {
   text-align: center;
}

.contacto-form-boton button{
   width: 120px;
   height: 2rem;
   background-color: var(--first-light-color);
   border: none;
   border-radius: 8px;
   font-size: 16px;
   font-family: var(--font);
   cursor: pointer;
   transition: background 0.3s;
   box-shadow: var(--box-shadow);
   margin-bottom: 0.7rem;
}

.contacto-form-boton button:hover{
   background-color: var(--first-dark-color);
}

@media screen and (max-width: 768px) {
    .main{
        padding: 64px 0 64px 64px;
        min-height: 100vh;
    }

}

@media screen and (max-width: 512px) {
    body {
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    .main {
        padding:0;
        padding-top: 4rem;
    }

}